.body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.box {
  background-color: black;
  opacity: 0.75;
  color: white;
  border-radius: 10px; /* do relative at some point */
  padding: 10px; 
  border: 20px;
  font-size: 1rem; 
}

.grid-container {
  display: grid;
  column-gap: 30px;
  row-gap: 10px;          
  grid-template-columns: repeat(5, 1fr);
  color: black;
  
}

.grid1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  margin-left: 20px;
}


.grid2 {
  grid-column: 3 / span 1;

}

.grid3 {
  grid-column: 4 / span 1;

}


.grid4 {
  grid-column: 3 / span 1;
}

.grid5 {
  grid-column: 4 / span 1;
  
}

